body{
  background-color: #03a0a5;
  color: white;
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: #036082;
}

h1{
  margin-top: 50px;
}
